<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mission Compostable</title>

    {% load static %}
    <link rel="icon" href="{% static "images/favicon.ico" %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static "styles.css" %}">
</head>
{% load static %}
<body>
<div id="top-bar">
    <p>Mission: Compostable</p>
    <p id="home-button"><a href="{% url 'home' %}">Home</a></p>
</div>
<div id="content">
{% block content %}

{% endblock %}
</div>
</body>
</html>